@import 'bootstrap';
@import 'heading';
@import 'font-awesome';
@import 'coffee-buyer';

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.project{
	margin-top: 20px;
  margin-bottom: 20px;
	display: inline-block;
	vertical-align: middle;
}
#recent-projects{
  margin-top: 70px;
}
#more-projects{
  display: none;
}
#site-content{
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
}
#background{
  background-repeat: none;
}
#contact{
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: none;
}
.fa-size{
  font-size: 4em;
}
