@import 'bootstrap';
@import 'heading';

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.project{
	margin-top: 40px;
	display: inline-block;
	vertical-align: middle;
}
#recent-projects{
  margin-top: 70px;
}
#home-projects{
  display: none;
}
#site-content{
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
}
.fa-size{
  font-size: 4em;
}
