#lets-talk.text-center 
	%a{:href => "mailto:billsearle@me.com?Subject=You're Awesome!", :target => "_top"} lets talk!
%div#background-container.background-container
	%section#elevator-pitch.text-center
		%h1.script-title Hello!
		%p 
			I am a 
			%strong 
				full stack web developer,
			interested in clean, smart designs and interactivity.
		%p 
			Currently 
			%strong 
				available
			for work in the 
			%s London
			%s New York
			Sydney area.
		%p Please take a look around.
		%i.fa.fa-angle-down.fa-size.row
	%div#background-1.background-1
		/ %p 1
	%div#background-2.background-2
		/ %p 2

#site-content
	-# Weatherify
	%h1#recent-projects.text-center Recent Projects 
	%div.row
		%section.project.col-sm-12
			%div.col-sm-4.col-sm-offset-2
				%h3 Weatherify.
				%p My first WDI project, Weatherify takes your local weather conditions and creates a Spotify playlist based on that information.
				%p For example, if your summary is 'Partly Cloudy', Weatherify will create a playlist of tracks containing 'cloudy' in their title.

				#weatherify-link.btn Listen here

			%div.col-sm-4
				%img.img-responsive{:src => "/images/weatherify-white.jpg", :alt => "Weatherify"}
	
	%div.row
		-# Bero
		%section.project.col-sm-12
			%div.col-sm-4.col-sm-offset-2.col-sm-push-4
				%h3 Bero.
				%p Have you ever hidden something and guided someone to it by only stating 'hotter' or 'colder' as they moved around? Of course you have!
				%p Bero takes this concept and places it in your hand. Bero will guide you to a destination of your choice or if you're lucky enough, a friend who has connected with you. The closer you get, the hotter (redder!) your screen becomes, just follow the arrow.
				
				#bero-link.btn Bero with me
			
			%div.col-sm-4.col-sm-pull-4
				%img.img-responsive{:src => "/images/bero.jpg", :alt => "Bero"}
 	
	%div.row
		-# Tweet in a bottle
		%section.project.col-sm-12
			%div.col-sm-4.col-sm-offset-2
				%h3 
					Tweet in a 
					%s Bottle.
					Bubble.
				%p Personally I've never found a romantic message in a bottle written a hundred years ago, or any message in a bottle...
				%p 
					Well, Tweet in a 
					%s Bottle
					Bubble allows you to find something similar in the digital sea.
				
				#message-link.btn Leave your own message

			%div.col-sm-4
				%img.img-responsive{:src => "/images/tweetbottle-white.jpg", :alt => "Tweet in a bottle"}
	
	%section.col-sm-offset-2 
		#show-more-button.show-more.btn See more projects

	#more-projects
		%section.project.col-sm-12
			%div.col-sm-4.col-sm-offset-2.col-sm-push-4
				%h3 ALT//SHFT
				%p A full page parallaxing site built to showcase the curation projects of ALT//SHFT.
				#alt-link.btn ALT//SHFT 
			%div.col-sm-4.col-sm-pull-4	
				%img.img-responsive{:src => "/images/altshft.jpg", :alt => "alt//shft"}
		
		%section.project.col-sm-12
			%div.col-sm-4.col-sm-offset-2
				%h3 Untitled Productions
				%p Untitled Productions is a full service video production house, this showcase site was my final project coming out of General Assembly's Front End Web Dev course. The site was live for a year.
				#untitled-link.btn Untitled Productions
			%div.col-sm-4
				%img.img-responsive{:src => "/images/untitledlandscape.jpg", :alt => "Untitled Productions"}
		
		%section.project.col-sm-12
			%div.col-sm-4.col-sm-offset-2.col-sm-push-4
				%h3 Fanciful Nerd
				%p Just a bit of silly fun with a webcam!
				#nerd-link.btn Fanciful Nerd
			%div.col-sm-4.col-sm-pull-4	
				%img.img-responsive{:src => "/images/nerd.jpg", :alt => "Fanciful Nerd"}

		%section.project.col-sm-12
			%div.col-sm-4.col-sm-offset-2
				%h3 Raspberry Pi Hue Switch
				%p A simple AJAX On/Off light switch for Philips Hue lights running within Chromium and controlled via a touch screen.
				%p It's a bit quicker than fumbling through the app just to turn your lights off! 
			%div.col-sm-4
				%img.img-responsive{:src => "/images/hue.jpg", :alt => "Philips Hue Switch"}