#lets-talk.text-center 
	%a{:href => "mailto:billsearle@me.com?Subject=You're Awesome!", :target => "_top"} lets talk!
%div#background-container.background-container
	%section#elevator-pitch.text-center
		%h1.script-title Hello!
		%p 
			I am a 
			%strong 
				full stack web developer,
			interested in clean, smart designs and interactivity.
		%p 
			Currently 
			%strong 
				available
			for work in the 
			%s London
			%s New York
			Sydney area.
		%p Please take a look around.
		%i.fa.fa-angle-down.fa-size.row
	%div#background-1.background-1
		/ %p 1
	%div#background-2.background-2
		/ %p 2

#site-content
	-# Weatherify
	%h1#recent-projects.text-center Recent Projects 
	%div.row
		%section.project.col-sm-12
			%div.col-sm-4.col-sm-offset-2
				%h3 Weatherify.
				%p Weatherify takes your local weather conditions and creates a Spotify playlist based on that information.
				%p For example, if your summary is 'Partly Cloudy', Weatherify will create a playlist of tracks containing 'cloudy' in their title.
				%p 
					%small Ruby 92.0% | CSS 5.8% | JavaScript 2.2%

				#weatherify-link.btn Listen here

			%div.col-sm-4
				%img.img-responsive{:src => "/images/weatherify-white.jpg", :alt => "Weatherify"}
	
	%div.row
		-# Bero
		%section.project.col-sm-12
			%div.col-sm-4.col-sm-offset-2.col-sm-push-4
				%h3 Bero.
				%p Never lose your friends again. 
				%p Bero will guide you to a destination of your choice or if you're lucky enough, a friend who has connected with you. The closer you get, the hotter (redder!) your screen becomes, just follow the arrow.
				%p 
					%small  Ruby 69.8%	| JavaScript 21.7%	| CSS 8.5%
				
				#bero-link.btn Bero with me
			
			%div.col-sm-4.col-sm-pull-4
				%img.img-responsive{:src => "/images/bero.jpg", :alt => "Bero"}
 	
	%div.row
		-# Tweet in a bottle
		%section.project.col-sm-12
			%div.col-sm-4.col-sm-offset-2
				%h3 
					Tweet in a 
					%s Bottle.
					Bubble.
				%p Personally I've never found a romantic message in a bottle written a hundred years ago, or any message in a bottle...
				%p 
					Well, Tweet in a 
					%s Bottle
					Bubble allows you to find something similar in the digital sea.
				%p
					%small  CSS 42.4%	| Ruby 34.2%	| JavaScript 23.4%	
				
				#message-link.btn Leave your own message

			%div.col-sm-4
				%img.img-responsive{:src => "/images/tweetbottle-white.jpg", :alt => "Tweet in a bottle"}
	
	%section.col-sm-offset-2 
		#show-more-button.show-more.btn See more projects

	#more-projects
		.row
			%section.project.col-sm-12
				%div.col-sm-4.col-sm-offset-2.col-sm-push-4
					%h3 ALT//SHFT
					%p A full page parallaxing site built to showcase the curation projects of ALT//SHFT.
					%p
						%small JavaScript 94.3%	| CSS 5.7%

					#alt-link.btn ALT//SHFT 

				%div.col-sm-4.col-sm-pull-4	
					%img.img-responsive{:src => "/images/altshft.jpg", :alt => "alt//shft"}
		
		.row
			%section.project.col-sm-12
				%div.col-sm-4.col-sm-offset-2
					%h3 Untitled Productions
					%p Untitled Productions is a full service video production house, this showcase site was my final project coming out of General Assembly's Front End Web Dev course. The site was live for a year.
					%p
						%small  JavaScript 96.2%	| CSS 3.8%

					#untitled-link.btn Untitled Productions
				
				%div.col-sm-4
					%img.img-responsive{:src => "/images/untitledlandscape.jpg", :alt => "Untitled Productions"}
		
		.row
			%section.project.col-sm-12
				%div.col-sm-4.col-sm-offset-2.col-sm-push-4
					%h3 Fanciful Nerd
					%p Just a bit of silly fun with a webcam!
					%p (Only tested in Chrome)
					%p
						%small  JavaScript 99.6%	| CSS 0.4%

					#nerd-link.btn Fanciful Nerd

				%div.col-sm-4.col-sm-pull-4	
					%img.img-responsive{:src => "/images/nerd.jpg", :alt => "Fanciful Nerd"}
		
		.row
			%section.project.col-sm-12
				%div.col-sm-4.col-sm-offset-2
					%h3 Raspberry Pi Hue Switch
					%p A simple AJAX On/Off light switch for Philips Hue lights running within Chromium and controlled via a touch screen.
					%p It's a bit quicker than fumbling through the app just to turn your lights off!
					%p I'm also in the process of porting this in to a Chrome Extension.
					%p
						%small  JavaScript 82.6%	| CSS 17.4% 
				%div.col-sm-4.col
					%img.img-responsive{:src => "/images/hue.jpg", :alt => "Philips Hue Switch"}

		.row
			%section.project.col-sm-12
				%div.col-sm-4.col-sm-offset-2.col-sm-push-4
					%h3 Portfolio!
					%p And of course this very site.
					%p Built with Middleman, HAML, SASS and I forgot to use CoffeeScript... 
					%p
						%small  JavaScript 54.1% | CSS 45.9% 
				%div.col-sm-4.col-sm-pull-4
					%img.img-responsive{:src => "/images/portfolio.jpg", :alt => "Portfolio"}

%div#contact-container.contact-size.col-sm-12
	%footer#contact.text-center.col-xs-12
		%h3
			Lets talk!
		%article
			%a.fa.fa-linkedin-square.fa-size{:href => "http://www.linkedin.com/pub/bill-searle/27/98b/398", :target => "_blank"}
			%p linkedin

		%article
			%a.fa.fa-tumblr-square.fa-size{:href => "http://goingwdi.tumblr.com/", :target => "_blank"}
			%p tumblr

		%article
			%a.fa.fa-github-square.fa-size{:href => "https://github.com/searleb", :target => "_blank"}
			%p github
		
		%article
			%a.fa.fa-twitter-square.fa-size{:href => "https://twitter.com/Bill_Searle", :target => "_blank"}
			%p twitter
		
		%article
			%a.fa.fa-envelope-square.fa-size{:href => "mailto:billsearle@me.com?Subject=You're Awesome!", :target => "_top"}
			%p email
	%div#contact-background-1.background-1.contact-size
	%div#contact-background-2.background-2.contact-size