%div.row
	%section#projects-two
		%h1#home-projects.text-center Home Projects
		%div.col-sm-4
			%img.img-responsive{:src => "/images/altshft.jpg", :alt => "Tweet in a bottle"}
		%div.col-sm-4
			%img.img-responsive{:src => "/images/untitlediphone.jpg", :alt => "Tweet in a bottle"}
		%div.col-sm-4
			%img.img-responsive{:src => "/images/nerd.jpg", :alt => "Tweet in a bottle"}